/node_modules
/public/hot
/public/storage
public/media/*
public/assets/*
public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/src/node_modules
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
